<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="db.server" value="servername"/>
        <add key="db.dbname" value="databasename"/>
        <add key="file.upload" value="upload_folder_name"/>
        <add key="file.temp" value="temp_folder_name"/>
    </appSettings>
</configuration>