<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="db.server" value="DEV_servername"/>
        <add key="db.dbname" value="DEV_databasename"/>
        <add key="file.upload" value="DEV_upload_folder_name"/>
        <add key="file.temp" value="DEV_temp_folder_name"/>
    </appSettings>
</configuration>